<ion-view view-title="To Do List">
  <ion-content class="padding">


    <!-- to do list -->

    <div class="list">


      <div class="card" ng-repeat="l in lists">


        <label class="item  item-text-wrap">

          <h2>{{l.id}} - {{l.title}}</h2>

          <p>{{l.descr}}
          </p>
        </label>
        <ion-checkbox ng-checked="l.done== 'True'" ng-click="done(l.id)">Done</ion-checkbox>
        <button class="button button-small button-assertive" ng-click="remove(l.id)">
          Remove
        </button>
        <button class="button button-small button-energized" ng-click="showedit = !showedit">
          Edit
        </button>


        <div ng-show="showedit">

          <div class="list" ng-submit="submitedit()">
            <label class="item item-input">

              <span class="input-label">Title</span>
              <input type="text" ng-model="editarray.title">
            </label>

            <label class="item item-input">
              <span class="input-label">Description</span>
              <input type="text" ng-model="editarray.descr">
            </label>


            <label>
              <div class="row">
                <div class="col text-center">
                  <button id="submit" ng-click="edit(l.id)" type="submit" class="button button-small button-balanced">
                    Submit
                  </button>
                </div>
              </div>
            </label>


          </div>
        </div>
      </div>


    </div>


    <!-- submit list -->
    <div class="card">

      <div class="list">
        <label class="item text-center">
          <font color="green"> Add New To-do task </font color> </label>

        <label class="item item-input">
          <span class="input-label">Title</span>
          <input type="text" ng-model="fields.title">
        </label>
        <label class="item item-input">
          <span class="input-label">Description</span>
          <input type="text" ng-model="fields.descr">
        </label>

        <label>
          <div class="row">
            <div class="col text-center">
              <button ng-click="submit() " id="submit" type="submit" class="button button-small button-balanced">
                Submit
              </button>
            </div>
          </div>
        </label>
      </div>

    </div>

  </ion-content>
</ion-view>
