<ion-view view-title="About">
  <ion-content class="padding">
    <div>


      <h3> simple to do list application by angular JS, backend by Python+Flask and postgress</h3>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
