<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-home" href="#/tab/home">
    <ion-nav-view name="home"></ion-nav-view>
  </ion-tab>


  <ion-tab title="About" icon-off="ion-information" icon-on="ion-information-circled" href="#/tab/about">
    <ion-nav-view name="about"></ion-nav-view>
  </ion-tab>


</ion-tabs>
