<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Statue</th>
        <th>Delete</th>
        <th>Edit</th>


    </tr>
    </thead>

    <tbody>

    <tr ng-repeat="l in lists">
        <td><h3 style="color: burlywood">{{l.id}}</h3></td>

        <td><h3 style="color: burlywood">{{l.title}}</h3></td>

        <td><h5> {{l.descr}}</h5></td>
        <td>
            <div ng-show="l.done == 'False' || l.done ==  'false' " ng-click="done(l.id)">
                <img height="42" width="42" ng-src="img/false.png">
            </div>
            <div ng-show="l.done == 'True' ">
                <img height="42" width="42" ng-src="img/true.png">
                Finished
            </div>
        </td>
        <td><input type="button" class="btn btn-danger" name="remove" value="remove" ng-click="remove(l.id)">
        </td>
        <td><input type="button" class="btn btn-info" name="edit" value="edit" ng-click="showedit = !showedit">

            <div ng-show="showedit">
                <form ng-submit="submitedit()">

                    Title <input type="text" ng-model="editarray.title">
                    Description <input type="text" ng-model="editarray.descr">
                    <input type="submit" value="Do Edit" id="edit" ng-click="edit(l.id)">
                </form>
            </div>
        </td>
    </tr>


    </tbody>
</table>

<hr>


<form ng-submit="submit()">

    Title <input type="text" ng-model="fields.title">
    Description <input type="text" ng-model="fields.descr">
    <input type="submit" class="btn btn-success" value="submit" id="submit">
</form>
